* {
  margin: 0px;
  padding: 0px; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 0.5fr 1fr 1fr 0.25fr 0.1fr;
  grid-template-areas: "contenedor__login__l contenedor__login__c contenedor__login__c contenedor__login__r" "contenedor__header contenedor__header contenedor__header contenedor__header" "contenedor__item__1 contenedor__item__2 contenedor__item__3 contenedor__item__4" "contenedor__item__5 contenedor__item__6 contenedor__item__7 contenedor__item__8" "contenedor__finalizar contenedor__finalizar contenedor__finalizar contenedor__finalizar" "contenedor__footer contenedor__footer contenedor__footer contenedor__footer";
  border: 0.1px solid black; }
  .contenedor__header {
    grid-area: contenedor__header;
    border: 0.1px solid black;
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
    color: #035da7; }
  .contenedor__login__l {
    grid-area: contenedor__login__l;
    background-color: #e70012;
    border-top: 0.1px solid black;
    border-bottom: 0.1px solid black;
    border-left: 0.1px solid black; }
  .contenedor__login__c {
    grid-area: contenedor__login__c;
    padding: 5px 0px 5px 00px;
    border-top: 0.1px solid black;
    border-bottom: 0.1px solid black;
    background-color: #e70012;
    font-size: 15px;
    color: lightgray;
    text-align: center; }
    .contenedor__login__c__texto__icon {
      font-size: 20px; }
  .contenedor__login__r {
    grid-area: contenedor__login__r;
    padding: 5px 0px 5px 00px;
    border-top: 0.1px solid black;
    border-bottom: 0.1px solid black;
    border-right: 0.1px solid black;
    background-color: #e70012;
    color: lightgray;
    text-align: right; }
    .contenedor__login__r__img {
      font-size: 20px;
      display: inline-block; }
    .contenedor__login__r__count {
      font-size: 20px;
      display: inline-block;
      padding-right: 10px; }
  .contenedor__item {
    text-align: center;
    align-items: center;
    padding: 50px 40px 50px 40px;
    border: 0.1px solid black; }
  .contenedor__footer {
    grid-area: contenedor__footer;
    border: 0.1px solid black;
    background-color: #e70012;
    text-align: center; }
    .contenedor__footer--firma {
      color: #035da7;
      font-family: "Indie Flower", cursive;
      font-weight: 800;
      padding: 10px; }
  .contenedor__finalizar {
    grid-area: contenedor__finalizar;
    border: 0.1px solid black;
    background-image: url("../img/fondo.jpg");
    color: #035da7;
    text-align: center;
    background-attachment: fixed; }

div .contenedor__item:nth-of-type(1) {
  grid-area: contenedor__item__1; }

div .contenedor__item:nth-of-type(2) {
  grid-area: contenedor__item__2; }

div .contenedor__item:nth-of-type(3) {
  grid-area: contenedor__item__3; }

div .contenedor__item:nth-of-type(4) {
  grid-area: contenedor__item__4; }

div .contenedor__item:nth-of-type(5) {
  grid-area: contenedor__item__5; }

div .contenedor__item:nth-of-type(6) {
  grid-area: contenedor__item__6; }

div .contenedor__item:nth-of-type(7) {
  grid-area: contenedor__item__7; }

div .contenedor__item:nth-of-type(8) {
  grid-area: contenedor__item__8; }

.logoNintendo {
  height: 150px; }

.finalizar__total {
  color: #035da7;
  font-weight: 700;
  margin-top: 15px; }

.header__saludo {
  text-align: center; }
  .header__saludo--bienvenida {
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    padding-top: 30px; }

.juego__img {
  width: 160px;
  height: 250px; }

.juego__titulo {
  margin-top: 10px;
  font-size: 30px;
  font-family: "Indie Flower", cursive; }

.juego__precio {
  font-size: 30px; }

.item__botonComprar {
  margin-top: 30px; }

.btn_add {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f44336;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  margin: 15px; }
  .btn_add:hover {
    border: 2px solid #f44336;
    background-color: white;
    color: black; }
  .btn_add:active {
    background-color: #000;
    color: white; }

ul {
  list-style: none;
  list-style-type: style none;
  font-size: 0; }

.carrito {
  background-color: lightskyblue;
  opacity: 0.8;
  position: fixed;
  height: 100%;
  width: 30vh;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column; }
  .carrito__cruz--btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    margin: 10px; }
  .carrito__juego {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .carrito__juego--img {
      width: 80;
      height: 125px; }
    .carrito__juego--tacho {
      display: inline-block;
      margin-left: 25px;
      font-size: 30px;
      background-color: lightskyblue;
      border: none; }

.logueo {
  background-color: lightskyblue;
  border-radius: 10%;
  opacity: 0.9;
  position: fixed;
  height: 40vh;
  width: 30vh;
  left: 43%; }
  .logueo__cruz--btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    margin: 10px; }
  .logueo__formulario {
    text-align: center; }

#avatar__img {
  height: 104px;
  width: 78px;
  opacity: 1;
  margin-top: 10px; }

.avatar__img {
  height: 52px;
  width: 39px;
  border-radius: 50%;
  margin-left: 10px; }

.form_bt {
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
  color: black;
  border: 2px black solid;
  height: 30px;
  width: 175px; }
  .form_bt:hover {
    background-color: #55acee;
    color: #fff; }
  .form_bt--avatar {
    padding-top: 10px;
    padding-bottom: 45px; }

.form_input {
  font-size: 1em;
  border-radius: 5px;
  opacity: 1;
  width: 175px;
  height: 30px;
  padding: 0px 15px 0px 15px;
  outline: none;
  border: solid 1px black; }
  .form_input:hover {
    background: #55acee;
    color: black; }

.resumen {
  background-color: lightskyblue;
  border-radius: 3%;
  opacity: 0.99;
  position: fixed;
  height: 90%;
  width: 90%;
  bottom: 5%;
  left: 5%;
  overflow: auto;
  border: 1px solid black; }
  .resumen__cruz--btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    margin: 10px; }
  .resumen__formulario {
    text-align: center; }

.formaPago {
  text-align: left;
  margin-left: 30%; }

#resumen__form {
  margin-top: 10%; }

.formaPago {
  line-height: 30px;
  font-size: 25px; }
  .formaPago_title {
    font-weight: bold;
    font-size: 35px; }
  .formaPago_label {
    display: inline-block;
    margin-left: 10px;
    line-height: 50px; }

.logoFactura {
  height: 15vh; }

.advertencia_resumen {
  border: 0.1px solid #df4d5a;
  background-color: #f1afaf;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px; }

.resumenFinal {
  background-image: url("../img/fondo.jpg");
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black; }

.fac_logo {
  display: inline-block;
  text-align: left; }

.fac_encabezado {
  display: inline-block;
  text-align: center;
  padding-left: 40%; }

.fac_cuerpo {
  border-top: 1px solid black; }

.fac_final {
  border-top: 1px solid black; }

.fac_totalPagar {
  color: red; }

.total_beneficio {
  border-top: 1px solid black;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px; }

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table; }

.row {
  display: table-row;
  background: #f6f6f6; }

.row:nth-of-type(odd) {
  background: #e9e9e9; }

.row.header {
  font-weight: 900;
  color: #fff;
  background: #e70012; }

.cell {
  padding: 6px 12px;
  display: table-cell; }

@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block; }
  .row.header {
    padding: 0;
    height: 6px; }
  .row.header .cell {
    display: none; }
  .row .cell {
    margin-bottom: 10px; }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block; }
  .cell {
    padding: 2px 16px;
    display: block; }
  .table {
    display: block; }
  .fac_encabezado {
    display: inline-block;
    text-align: center;
    padding-left: 10%; } }

@media only screen and (max-width: 580px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 0.5fr 1fr 1fr 1fr 1fr 0.25fr 0.1fr;
    grid-template-areas: "contenedor__login__c contenedor__login__r" "contenedor__header contenedor__header" "contenedor__item__1 contenedor__item__2" "contenedor__item__3 contenedor__item__4" "contenedor__item__5 contenedor__item__6" "contenedor__item__7 contenedor__item__8" "contenedor__finalizar contenedor__finalizar" "contenedor__footer contenedor__footer";
    border: 0.1px solid white; }
  .contenedor__login__l {
    display: none; }
  .contenedor__login__c {
    grid-area: contenedor__login__c;
    padding: 5px 0px 5px 00px;
    border-top: 0.1px solid black;
    border-bottom: 0.1px solid black;
    background-color: #e70012;
    font-size: 15px;
    color: lightgray;
    text-align: left; }
    .contenedor__login__c__texto__icon {
      font-size: 20px;
      margin-left: 10px; }
  .contenedor__item {
    text-align: center;
    align-items: center;
    padding: 50px 40px 50px 40px; }
  .btn_add {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #f44336;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    margin: 15px; }
    .btn_add:hover {
      border: 2px solid #000;
      background-color: #f44336;
      color: black; }
    .btn_add:active {
      border: 2px solid #000;
      background-color: #f44336;
      color: black; }
  .logueo {
    background-color: lightskyblue;
    border-radius: 0%;
    opacity: 0.9;
    position: fixed;
    height: 40vh;
    width: 30vh;
    left: 0%;
    top: 0%; }
    .logueo__cruz--btn {
      font-size: 30px;
      background-color: transparent;
      border: none;
      margin: 10px; }
    .logueo__formulario {
      text-align: center; }
  #LogOut {
    margin-left: 5px; } }
